.about {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.r {
  opacity: 0;
  transition: all 2s;
  transform: translateX(-50%);
}

.r.appear {
  opacity: 1;
  transform: translateX(20%);
}

.lef {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -25px;
  transition: all 2s;
}

.lef h2 {
  color: rgb(8, 110, 144);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
}

.mid {
  width: 30%;
}

.rig {
  width: 30%;
}

.r {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.z {
  display: flex;
  align-items: start;
  /* justify-content: start; */
  position: relative;
}

.z p {
  margin-top: -20px;
  margin-left: 50px;
  /* background: red; */
}
.z p h2 {
  color: rgb(8, 110, 144);
  font-weight: 500;
  font-size: 20px;
}
.z p h3 {
  font-weight: 400;
  font-size: 18px;
}
.z p h4 {
  font-weight: 350;
  font-size: 16px;
}

.z img {
  width: 20px;
}

@media (max-width: 768px), (min-width: 426px) {
  .about {
    flex-direction: column;

    margin-bottom: 100px;
  }

  .r.appear {
    opacity: 1;
    transform: translateX(0%);
  }

  .about > * {
    width: 100%;
    padding: 0;
  }

  .mid {
    width: 50%;
  }

  .rig {
    width: 50%;
  }
  .z p h2 {
    color: rgb(8, 110, 144);
    font-weight: 500;
    font-size: 18px;
  }
  .z p h3 {
    font-weight: 400;
    font-size: 16px;
  }
  .z p h4 {
    font-weight: 350;
    font-size: 14px;
  }
  .z img {
    width: 15px;
  }
  .z p {
    margin: 10px;
  }
}

@media (max-width: 426px) {
  .about {
    position: static;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* background: red; */
    padding-left: 20px;
    width: 90%;
    /* background: red; */
    /* padding-right: 20px; */
  }

  .r {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background: green; */
    width: 100%;
    opacity: 0;
    margin: 0;
    margin-left: -25px;
    padding: 0;
    transition: all 2s;
  }

  .rig {
    padding: 0;
    margin: 0;
  }

  .mid {
    /* width: 50%; */
    padding: 0;
    margin: 0;
  }
  .lef {
    padding: 0;
    margin: 0;
  }

  .z {
    padding: 0;
    margin: 0;
    width: 200%;
    /* background: red; */
  }
  .z p h2 {
    color: rgb(8, 110, 144);
    font-weight: 500;
    font-size: 16px;
  }
  .z p h3 {
    font-weight: 400;
    font-size: 14px;
  }
  .z p h4 {
    font-weight: 350;
    font-size: 12px;
  }

  .lef h2 {
    font-size: 16px;
  }

  .lef h3 {
    font-size: 14px;
  }

  .lef p {
    font-size: 12px;
    /* background: red; */
  }

  .heade {
    font-size: 18px;
    font-weight: 500;
  }

  .z p > * {
    margin-top: -5px;
  }

  .r.appear {
    opacity: 1;
    transform: translateX(-15%);
  }
}
